In [1]:
cd "/g/data/tm70/ug5483/variable_info"

/g/data/tm70/ug5483/variable_info

In [2]:
import xarray as xr
from models import *
from sqlalchemy.orm.exc import NoResultFound
import re
from collections import defaultdict 
from tqdm import tqdm
import json

In [4]:
session = create_session()

postgresql://tech.accessnri:VTim1HI5PUFh@ep-summer-frost-03430523.ap-southeast-1.aws.neon.tech/EXPERIMENT

In [5]:
session.get_bind()

Engine(postgresql://tech.accessnri:***@ep-summer-frost-03430523.ap-southeast-1.aws.neon.tech/EXPERIMENT)

In [6]:
ds = xr.open_dataset('/g/data/ik11/outputs/access-om2-01/01deg_jra55v13_ryf9091/output000/ocean/ocean_grid.nc')

In [7]:
for var in ds.variables:
    var_attrs = ds[var].attrs
    print(var,var_attrs)

xt_ocean {'long_name': 'tcell longitude', 'units': 'degrees_E', 'cartesian_axis': 'X'}
yt_ocean {'long_name': 'tcell latitude', 'units': 'degrees_N', 'cartesian_axis': 'Y'}
time {'long_name': 'time', 'cartesian_axis': 'T', 'calendar_type': 'NOLEAP'}
xu_ocean {'long_name': 'ucell longitude', 'units': 'degrees_E', 'cartesian_axis': 'X'}
yu_ocean {'long_name': 'ucell latitude', 'units': 'degrees_N', 'cartesian_axis': 'Y'}
geolon_t {'long_name': 'tracer longitude', 'units': 'degrees_E', 'valid_range': array([-281.,  361.], dtype=float32), 'cell_methods': 'time: point'}
geolat_t {'long_name': 'tracer latitude', 'units': 'degrees_N', 'valid_range': array([-91.,  91.], dtype=float32), 'cell_methods': 'time: point'}
geolon_c {'long_name': 'uv longitude', 'units': 'degrees_E', 'valid_range': array([-281.,  361.], dtype=float32), 'cell_methods': 'time: point'}
geolat_c {'long_name': 'uv latitude', 'units': 'degrees_N', 'valid_range': array([-91.,  91.], dtype=float32), 'cell_methods': 'time: point'}
ht {'long_name': 'ocean depth on t-cells', 'units': 'm', 'valid_range': array([-1.e+09,  1.e+09], dtype=float32), 'cell_methods': 'time: point', 'standard_name': 'sea_floor_depth_below_geoid'}
hu {'long_name': 'ocean depth on u-cells', 'units': 'm', 'valid_range': array([-1.e+09,  1.e+09], dtype=float32), 'cell_methods': 'time: point'}
dxt {'long_name': 'ocean dxt on t-cells', 'units': 'm', 'valid_range': array([-1.e+09,  1.e+09], dtype=float32), 'cell_methods': 'time: point'}
dyt {'long_name': 'ocean dyt on t-cells', 'units': 'm', 'valid_range': array([-1.e+09,  1.e+09], dtype=float32), 'cell_methods': 'time: point'}
dxu {'long_name': 'ocean dxu on u-cells', 'units': 'm', 'valid_range': array([-1.e+09,  1.e+09], dtype=float32), 'cell_methods': 'time: point'}
dyu {'long_name': 'ocean dyu on u-cells', 'units': 'm', 'valid_range': array([-1.e+09,  1.e+09], dtype=float32), 'cell_methods': 'time: point'}
area_t {'long_name': 'tracer cell area', 'units': 'm^2', 'valid_range': array([0.e+00, 1.e+15], dtype=float32), 'cell_methods': 'time: point'}
area_u {'long_name': 'velocity cell area', 'units': 'm^2', 'valid_range': array([0.e+00, 1.e+15], dtype=float32), 'cell_methods': 'time: point'}
kmt {'long_name': 'number of depth levels on t-grid', 'units': 'dimensionless', 'valid_range': array([-1.e+01,  1.e+09], dtype=float32), 'cell_methods': 'time: point'}
kmu {'long_name': 'number of depth levels on u-grid', 'units': 'dimensionless', 'valid_range': array([-1.e+01,  1.e+09], dtype=float32), 'cell_methods': 'time: point'}
drag_coeff {'long_name': 'Dimensionless bottom drag coefficient', 'units': 'dimensionless', 'valid_range': array([  -1., 1000.], dtype=float32), 'cell_methods': 'time: point'}

In [8]:
def get_variables(ds, long_name):
    var_list = []
    for var in ds.variables:
        try:
            var_attrs = ds[var].attrs
            var_db = session.query(Variable).filter(
                Variable.name == var,
                Variable.long_name == var_attrs.get(long_name),
                Variable.units == var_attrs.get('units')
            ).one()
        except NoResultFound:
            var_db = Variable()
            var_db.name = var
            var_db.long_name = var_attrs.get(long_name)
            var_db.units = var_attrs.get('units')
        var_list.append(var_db)
    return var_list

In [9]:
model = Model()
model.name = "ACCESS-OM2"
model.coordinate_variables = get_variables(ds, 'long_name')
try: 
    session.add(model)
    session.commit()
except Exception as err:
    print(err)
    session.rollback()

In [10]:
ds = xr.open_dataset('/g/data/ik11/inputs/access-om2/input_20201102/cice_01deg/grid.nc')

In [11]:
for var in ds.variables:
    var_attrs = ds[var].attrs
    print(var,var_attrs)

ulat {'units': 'radians', 'title': 'Latitude of U points'}
ulon {'units': 'radians', 'title': 'Longitude of U points'}
tlat {'units': 'radians', 'title': 'Latitude of T points'}
tlon {'units': 'radians', 'title': 'Longitude of T points'}
clon_t {'units': 'radians', 'title': 'Longitude of T cell corners'}
clat_t {'units': 'radians', 'title': 'Latitude of T cell corners'}
clon_u {'units': 'radians', 'title': 'Longitude of U cell corners'}
clat_u {'units': 'radians', 'title': 'Latitude of U cell corners'}
htn {'units': 'cm', 'title': 'Width of T cells on North side.'}
hte {'units': 'cm', 'title': 'Width of T cells on East side.'}
angle {'units': 'radians', 'title': 'Rotation angle of U cells.'}
angleT {'units': 'radians', 'title': 'Rotation angle of T cells.'}
tarea {'units': 'm^2', 'title': 'Area of T cells.'}
uarea {'units': 'm^2', 'title': 'Area of U cells.'}

In [12]:
var_list = get_variables(ds, 'title')

In [13]:
try: 
    model = session.query(Model).filter(Model.name == "ACCESS-OM2").one()
    model.coordinate_variables.extend(var_list)
    session.commit()
except Exception as err:
    print(err)
    session.rollback()

In [14]:
nc_files = !find /g/data/ik11/outputs/access-om2/1deg_jra55v14_ryf/output090 -type f -name "*.nc"

In [15]:
def is_coordinate(variable):
    """
    Heuristic to guess if this is a coordinate variable based on units. Returns
    True if coordinate variable, False otherwise
    """
    units = variable.get('units')
    if units is not None and units != "":
        coord_units = {r".*degrees_.*", r".*since.*", r"radians", r".*days.*"}
        for u in coord_units:
            if re.search(u, units):
                return True
    return False

In [16]:
def is_coordinate_var_in_db(var):
    try:
        var_attrs = var.attrs
        var_db = session.query(Variable).filter(
            Variable.name == var.name,
            Variable.long_name == var_attrs.get('long_name'),
            Variable.units == var_attrs.get('units')
        ).one()
        coord_var_db = session.query(model_coordinate_variables).filter(
            model_coordinate_variables.c.variable_id == var_db.id,
            model_coordinate_variables.c.model_name == "ACCESS-OM2"
        ).one()
        return (True, None)
    except NoResultFound:
        if (var_db):
            return (False, var_db)
        return (False, None)

In [17]:
new_coord_var = []
file_info = defaultdict(list)
for f in tqdm(nc_files):
    try:
        ds = xr.open_dataset(f)
    except Exception as e:
        print(f,e)
        continue
    for v in ds.variables:                
        var_attrs = ds[v].attrs
        if (is_coordinate(var_attrs)):
            is_coordinate_var_present, var_id = is_coordinate_var_in_db(ds[v])
            if (not is_coordinate_var_present):
                if (var_id is None):
                    var_data = {"name":  v, "long_name": var_attrs.get('long_name'), "units": var_attrs.get('units')}
                else:
                    var_data = var_id
                if var_data not in new_coord_var:
                    file_info[f].append(v)
                    new_coord_var.append(var_data)

 54%|█████▍    | 55/102 [00:44<00:16,  2.82it/s]

/g/data/ik11/outputs/access-om2/1deg_jra55v14_ryf/output090/ocean/o2i.nc Failed to decode variable 'time': unable to decode time units 'seconds since 0000-00-00 00:00:00' with 'the default calendar'. Try opening your dataset with decode_times=False or installing cftime if it is not installed.

100%|██████████| 102/102 [01:05<00:00,  1.57it/s]

In [19]:
new_coord_var

6

In [20]:
with open("file_coordinate_var_info.json", "w") as outfile: 
    json.dump(file_info, outfile)

In [21]:
for v in new_coord_var:
    session.execute(model_coordinate_variables.insert().values(model_name = "ACCESS-OM2", variable_id = v.id))
session.commit()